body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(https://apexapps.oracle.com/pls/apex/r/dbpm/133/files/static/v394/test-background.png);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  text-align: center;
  height: 100%;
  width: 100%;

}

/* .App::before{
  background-image: ;
  content: "a";
  padding: 500px;
  width: 100vw;
  height: 100vh;
background-color: black;
} */


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.moviePic {
  height: 100px;
}

.movieBox {}

.hide {
  display: none;
}

.bigPic {
  border-radius: 10%;
  margin: 20px;
}



.bg {
  height: 110%;
  position: absolute;
  left: 0;
  top: 4%;
  opacity: .6;
  z-index: -2;
}

/* .page{
  outline: solid #22383e;
} */
/* .moviePopOut{
  outline: solid #339cb9;
  margin: 5px;
} */

.textbox{
  display: flex;
  flex-direction: row;
  font-family: 'Comfortaa';
  justify-content: space-around;
}
#info{
  display: flex;
  text-align: left;
  width: 50%;
}
.genre{
  width: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bold;
}
.genres{
  display: flex;
  flex-direction: row;
}